@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:focus {
	outline: none;
}

:root {
	--mainBackground: #0f1217;
	--mainChildrenBackground: #0e1a36;
	/* --headerBackground: #24315E;
  --portfolioIntroBackground: #303C6C;
  --portfolioGridBackground: #439684;
  --contactFormBackground: #303C6C; */
	--text: #fcfcfcbb;
	--btn: #4978e7;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.App {
	font-family: Roboto;
	background-color: #0f1217;
	overflow-y: auto;
}

.sections {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.section__title {
	font-size: 32px;
	color: rgba(245, 245, 245, 0.856);
	margin: 1.5rem 0;
}

@media screen and (max-width: 968px) {
	.section__title {
		font-size: 28px;
	}
}

@media screen and (max-width: 568px) {
	.section__title {
		font-size: 22px;
	}
}
