.intro__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	background-color: var(--portfolioIntroBackground);
}

.intro_titleContainer {
	font-size: 42px;
}

.intro__title {
	color: white;
}

.intro__titleFaded {
	color: #b7b9b9;
}

@media screen and (max-width: 968px) {
	.intro_titleContainer {
		font-size: 35px;
	}

	.main__title {
		font-size: 28px;
	}

	.grid__title {
		font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	.intro_titleContainer {
		font-size: 30px;
	}
}

@media screen and (max-width: 420px) {
	.intro_titleContainer {
		font-size: 24px;
	}
}
