.portfolio__anchor {
	display: block;
	position: relative;
	visibility: hidden;
	top: -55px;
}

.portfolio__container {
	display: flex;
	flex-direction: column;
	margin: 0 auto 15rem auto;
	width: 80%;
}

/* Portfolio Grid Layout */
.portfolio__container {
	text-align: center;
}

.portfolio__container > * {
	margin: 1.5rem 0;
}

.portfolio__main__title {
	font-size: 32px;
	color: rgba(245, 245, 245, 0.856);
}

.portfolio__grid__title {
	padding: 0.5rem;
	color: rgba(245, 245, 245, 0.719);
	font-size: 23px;
	letter-spacing: 1px;
	background-color: #21252c;
	border-radius: 10px 10px 0 0;
	cursor: default;
}

.portfolio__grid__imageContainer {
	position: relative;
}

.portfolio__grid__image {
	max-height: 100%;
	max-width: 100%;
	border-radius: 0 0 10px 10px;
}

.portfolio__grid__image:hover {
	background-color: #4065a7;
}

.portfolio__grid__item:hover .portfolio__grid__overlay {
	display: block;
	background-color: #21252cbb;
}

/* Portfolio grid item overlay section */
.portfolio__grid__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	border-radius: 0 0 10px 10px;
	cursor: default;
	z-index: 3;
	padding: 0.5rem;
	display: none;
}

.portfolio__grid__overlay__items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 1rem 0;
}

.portfolio__grid__text {
	text-align: left;
	color: whitesmoke;
}

.portfolio__grid__github {
	color: #e9e9e9;
}

.portfolio__grid__github:hover {
	/* color: #026ccf; */
	/* color: #4183c4; */
	color: #6b7280;
	/* border-radius: 50px;
	background-color: #a7a7a736; */
}

@media screen and (max-width: 968px) {
	.portfolio_intro_titleContainer {
		font-size: 35px;
	}

	.portfolio__main__title {
		font-size: 28px;
	}

	.portfolio__grid__title {
		font-size: 20px;
	}
}

@media screen and (max-width: 568px) {
	.portfolio__main__title {
		font-size: 22px;
	}

	.portfolio__grid__title {
		font-size: 16px;
	}
}
